body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.conatiner {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow: hidden;
}

h1 {
  text-align: center;
  padding: 20px;
  background-color: rgb(88 196 220);
  color: black;
  margin: 0;
  font-size: 24px;
  border-radius: 10px 10px 0 0;
}

.main-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}

.chat-header-section {
  display: flex;
  justify-content: space-between;
}

.chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f9fa;
}

.chat-window {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.message {
  margin: 6px 0;
  padding: 10px;
  background-color: #e1e1e1;
  border-radius: 8px;
  max-width: 75%;
}

.message-input {
  display: flex;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.message-input input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.message-input input:focus {
  border-color: rgb(88 196 220);
}

.message-input button {
  padding: 12px 20px;
  background-color: rgb(88 196 220);
  color: black;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: rgb(88 196 220);
}

.friend-list {
  width: 200px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-right: 20px;
}

.friend-list h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

.friend {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 10px;
  &:hover {
    background-color: #f0f0f0;
  }
}

.friend.selected {
  background-color: rgb(88 196 220);
  color: black;
}

.delete-chat {
  width: 30%;
  padding: 5px 20px;
  background-color: rgb(88 196 220);
  color: black;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  height: 36px;
  margin: 15px;
 
}

button {
  &:hover{
    background-color: #f0f0f0;
  }
}